.containerForMobile {
   width: 100%;
   max-width: 1024px;
   padding: 0 15px;
   margin: 0 auto;
}

.backgroundHeaderColor {
   background-color: #E3FFE0;
}

.backgroundMainColor {
   background-color: #F6FFF5;
}

.horizonCenter {
   width: 100%;
   height: 275%;
   position: absolute;
   left: 0;
   right: 0;
   margin: 0 auto;
}

.alignСenter{
text-align: center;
}

.imgStyle {
   float: left;
   margin: 0px 0px 0px 0px;
   border-radius: 15px;
}

.headerText {
   font-family: Arial Black, fantasy;
   font-size: 40px;
}

.topicText {
   font-family: Arial Black, fantasy;
   font-size: 20px;
}

.basicText {
   font-family: Calibri, fantasy;
   font-size: 20px;
}

.codeText {
   font-family: Calibri, fantasy;
   font-size: 15px;
}

hr {
   border: none;
   background-color: #808080;
   color: #11a28a;
   height: 2px;
}

div {
   padding: 10px;
   border-radius: 15px;
}

table {
   width: 100%;
}

#cell2 {
    text-align: right;
}